{% extends 'base.html.twig' %}
{% block body %}
	<h1>Highlander says:</h1>

	{% for message in app.flashes('info') %}
		<div class="flash-info">Info:
			{{message}}</div>
	{% endfor %}

	{# {% for forecast in forecasts %}
					<p>{{ forecast | upper }}</p>
				{% endfor %} #}

	<p>{{forecasts | join(',')}}</p>

	{% if treshold %}
		<p>Treshold:
			{{treshold}}</p>
	{% endif %}

	<nav>
		<a href="{{ path('weather_highlander_says') }}">Try again!</a>
	</nav>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		const route = "{{ url('weather_highlander_says')|escape('js') }}"
console.log(route)
	</script>
{% endblock %}

{% block title %}
	Highlander says
{% endblock %}
